.background_green {
    background-color: green;
    color: white;
}

header {
    background-color: #222;
    color: white;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

section {
    margin-bottom: 1rem;
}

footer {
    background-color: #1c324e;
}

.riga {
    margin-top: 0.6rem;
    width: 10rem;
    height: 3px;
}
